[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "freetype2"]
	path = freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip.git
